In [17]:
# Iterating over a list
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

# Using range()
for i in range(5):  # 0 to 4
    print("Number:", i)

# Iterating over a string
for char in "hello":
    print(char)

apple
banana
cherry
Number: 0
Number: 1
Number: 2
Number: 3
Number: 4
h
e
l
l
o

In [18]:
fruits = ["apple", "banana", "cherry"]
i = 0
while i < len(fruits):
    print(fruits[i])
    i += 1

apple
banana
cherry

In [19]:
# Using break
for i in range(5):
    if i == 3:
        break
    print("Before break:", i)

# Using continue
for i in range(5):
    if i == 3:
        continue
    print("Skipping 3:", i)

Before break: 0
Before break: 1
Before break: 2
Skipping 3: 0
Skipping 3: 1
Skipping 3: 2
Skipping 3: 4

In [20]:
# Multiplication table
for i in range(1, 4):  # Outer loop
    for j in range(1, 4):  # Inner loop
        print(f"{i} x {j} = {i * j}")
    print("---")  # Separator between tables

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
---
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
---
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
---

In [21]:
# Loop from 0 to 8 with step of 2
for i in range(0, 10, 2):
    print(i)
# Output: 0, 2, 4, 6, 8

0
2
4
6
8

In [22]:
# Loop from 0 to 8 with step of 2
for i in range(0, 10, 1):
    print(i)
# Output: 0, 2, 4, 6, 8

0
1
2
3
4
5
6
7
8
9

In [23]:
# Loop from 10 to 1 (in reverse)
for i in range(10, 0, -1):
    print(i)
# Output: 10, 9, 8, 7, 6, 5, 4, 3, 2, 1

10
9
8
7
6
5
4
3
2
1

In [24]:
# Define a list
fruits = ["apple", "banana", "cherry"]

# Loop through the list
for fruit in fruits:
    print(fruit)

# With index
for i in range(len(fruits)):
    print(f"Index {i}: {fruits[i]}")

apple
banana
cherry
Index 0: apple
Index 1: banana
Index 2: cherry

In [25]:
# Define a tuple
colors = ("red", "green", "blue")

# Loop through the tuple
for color in colors:
    print(color)

# Using index
for i in range(len(colors)):
    print(f"Index {i}: {colors[i]}")

red
green
blue
Index 0: red
Index 1: green
Index 2: blue

In [26]:
# Define a dictionary
person = {"name": "Alice", "age": 25, "city": "New York"}

# Loop through keys
for key in person:
    print(f"Key: {key}, Value: {person[key]}")

# Loop through values
for value in person.values():
    print(f"Value: {value}")

# Loop through key-value pairs
for key, value in person.items():
    print(f"Key: {key}, Value: {value}")

Key: name, Value: Alice
Key: age, Value: 25
Key: city, Value: New York
Value: Alice
Value: 25
Value: New York
Key: name, Value: Alice
Key: age, Value: 25
Key: city, Value: New York

In [28]:
# Define a set
numbers = {1, 2, 3, 4, 5}

# Loop through the set
for number in numbers:
    print(number)

# Note: Since sets are unordered, the iteration order may vary.

1
2
3
4
5

In [29]:
# Define a string
text = "hello"

# Loop through characters in the string
for char in text:
    print(char)

# With index
for i in range(len(text)):
    print(f"Index {i}: {text[i]}")

h
e
l
l
o
Index 0: h
Index 1: e
Index 2: l
Index 3: l
Index 4: o

In [30]:
fruits = ["apple", "banana", "cherry"]

for index, fruit in enumerate(fruits):
    print(f"Index {index}: {fruit}")

Index 0: apple
Index 1: banana
Index 2: cherry

In [31]:
# Nested loop with lists
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

for row in matrix:
    for value in row:
        print(value, end=" ")
    print()

# Nested loop with dictionaries
data = {"Alice": {"age": 25, "city": "NY"}, "Bob": {"age": 30, "city": "LA"}}

for name, info in data.items():
    print(f"Name: {name}")
    for key, value in info.items():
        print(f"  {key}: {value}")

1 2 3
4 5 6
7 8 9
Name: Alice
  age: 25
  city: NY
Name: Bob
  age: 30
  city: LA

In [32]:
# Define a list
fruits = ["apple", "banana", "cherry"]

# Access by index
print(fruits[0])  # Output: apple
print(fruits[2])  # Output: cherry

# Access with negative index
print(fruits[-1])  # Output: cherry (last element)
print(fruits[-2])  # Output: banana

# Access a slice (sub-list)
print(fruits[1:])  # Output: ['banana', 'cherry']
print(fruits[:2])  # Output: ['apple', 'banana']

apple
cherry
cherry
banana
['banana', 'cherry']
['apple', 'banana']

In [34]:
# Define a tuple
colors = ("red", "green", "blue")

# Access by index
print(colors[0])  # Output: red

# Negative index
print(colors[-1])  # Output: blue

# Slicing
print(colors[1:])  # Output: ('green', 'blue')

red
blue
('green', 'blue')

In [35]:
# Define a dictionary
person = {"name": "Alice", "age": 25, "city": "New York"}

# Access by key
print(person["name"])  # Output: Alice
print(person.get("age"))  # Output: 25

# Access all keys
print(person.keys())  # Output: dict_keys(['name', 'age', 'city'])

# Access all values
print(person.values())  # Output: dict_values(['Alice', 25, 'New York'])

# Access key-value pairs
print(person.items())  # Output: dict_items([('name', 'Alice'), ('age', 25), ('city', 'New York')])

# Access with a default value if the key doesn't exist
print(person.get("country", "Not Found"))  # Output: Not Found

Alice
25
dict_keys(['name', 'age', 'city'])
dict_values(['Alice', 25, 'New York'])
dict_items([('name', 'Alice'), ('age', 25), ('city', 'New York')])
Not Found

In [36]:
# Define a set
numbers = {1, 2, 3, 4, 5}

# Membership testing
print(3 in numbers)  # Output: True
print(6 in numbers)  # Output: False

# Looping
for num in numbers:
    print(num)

# Convert to a list for indexed access
numbers_list = list(numbers)
print(numbers_list[0])  # Access by index after conversion

True
False
1
2
3
4
5
1

In [37]:
# Define a string
text = "hello"

# Access by index
print(text[0])  # Output: h
print(text[-1])  # Output: o

# Slicing
print(text[1:4])  # Output: ell
print(text[::-1])  # Reverse string: olleh

# Looping through characters
for char in text:
    print(char)

h
o
ell
olleh
h
e
l
l
o