In [1]:
# A tuple is an immutable sequence of elements, often used to store related data. Since tuples are immutable, their elements cannot be 
#  changed after they are created.

In [2]:
# Empty tuple
empty_tuple = ()

# Tuple with elements
tuple1 = (1, 2, 3)
tuple2 = ("apple", "banana", "cherry")

# Tuple with mixed data types
mixed_tuple = (1, "hello", 3.14, True)

# Single-element tuple (note the trailing comma)
single_tuple = (42,)

In [3]:
t = (10, 20, 30, 40, 50)

# Access by index
print(t[0])  # Output: 10
print(t[-1]) # Output: 50 (last element)

# Slicing
print(t[1:4])  # Output: (20, 30, 40)
print(t[::-1]) # Output: (50, 40, 30, 20, 10) (reversed tuple)

10
50
(20, 30, 40)
(50, 40, 30, 20, 10)

In [4]:
# 1. count()
# Counts the number of times a specified value appears in the tuple.


t = (1, 2, 2, 3, 4, 2)
print(t.count(2))  # Output: 3

3

In [5]:
# 2. index()
# Returns the first index of a specified value. Raises a ValueError if the value is not found.

t = (10, 20, 30, 40, 50)
print(t.index(30))  # Output: 2

2

In [7]:
# Basic Tuple Operations
# 1. Concatenation

t1 = (1, 2, 3)
t2 = (4, 5, 6)
result = t1 + t2
print(result)  # Output: (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [8]:
#2. Repetition

t = (1, 2)
result = t * 3
print(result)  # Output: (1, 2, 1, 2, 1, 2)

(1, 2, 1, 2, 1, 2)

In [9]:
t = (10, 20, 30)
print(20 in t)  # Output: True
print(40 in t)  # Output: False

True
False

In [10]:
#Tuples are commonly used for unpacking values:


t = (1, 2, 3)

# Unpack into variables
a, b, c = t
print(a, b, c)  # Output: 1 2 3

# Unpacking with *
t = (1, 2, 3, 4, 5)
a, *b, c = t
print(a)  # Output: 1
print(b)  # Output: [2, 3, 4]
print(c)  # Output: 5

1 2 3
1
[2, 3, 4]
5

In [ ]:
#Tuples are often used to return multiple values.


def divide(a, b):
    return a // b, a % b  # Returns a tuple

quotient, remainder = divide(10, 3)
print(quotient, remainder)  # Output: 3 1